body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    text-align: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.img-wrapper {
    flex: 1 0 calc(33.33% - 20px);
    max-width: 300px;
    max-height: 200px;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.img-item {
    width: 100%;
    height: auto;
    max-height: 100%;
    border: none;
}

h2 {
    text-align: center;
}

input[type="file"] {
    display: none;
}

#botonSubir {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}