<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<header>
    <h1>Mi Sitio Web</h1>
</header>

<nav>
    <a href="/">Inicio</a>
    <a href="#" onclick="seleccionarImagen()">Subir Imagen</a>
</nav>

<section>
    <h2>Mis Imagenes</h2>

    <div class="img-container" id="imageContainer">
        {% for url in images %}
            <div class="img-wrapper">
                <img src="{{ url }}" alt="Mi Imagen" class="img-item">
                <button onclick="eliminarImagen('{{ url }}')">Eliminar</button>
            </div>
        {% endfor %}
    </div>

    <input type="file" id="imagenInput" accept="image/*" style="display: none;" multiple>

    <button id="botonSubir" onclick="seleccionarImagen()"><span class="material-symbols-outlined">add</span></button>

    <!-- Script JavaScript para subir imagenes al servidor -->
    <script>
        function seleccionarImagen() {
            const inputElement = document.getElementById('imagenInput');
            inputElement.click();

            inputElement.addEventListener('change', () => {
                const files = inputElement.files;
                if (files.length > 0) {
                    const formData = new FormData();
                    for (let i = 0; i < files.length; i++) {
                        formData.append('imagenInput', files[i]);
                    }

                    fetch('/app/up', {
                        method: 'POST',
                        body: formData,
                    })
                        .then(response => response.text())
                        .then(data => console.log(data))
                        .catch(error => console.error('Error:', error));
                }
            });
        }
    </script>
    <script>
        var lastToken = "{{ last_token }}";
        console.log("Token recivido de python!!:", lastToken);

        function cargarMasImagenes() {
            fetch('/app/receive_token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'continuation_token_from_js=' + encodeURIComponent(lastToken),
            })
                .then(response => response.json())
                .then(data => {
                    lastToken = data.continuation_token;
                    console.log('Token enviado a python!!:', lastToken);

                    data.images.forEach(url => {
                        const imgWrapper = document.createElement('div');
                        imgWrapper.className = 'img-wrapper';
                        const img = document.createElement('img');
                        img.src = url;
                        img.alt = 'Mi Imagen';
                        img.className = 'img-item';
                        imgWrapper.appendChild(img);
                        document.getElementById('imageContainer').appendChild(imgWrapper);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        var lastScrollPosition = 0;

        function handleScroll() {
            var scrollPosition = window.scrollY || window.pageYOffset || document.documentElement.scrollTop;

            var totalHeight = document.documentElement.scrollHeight;

            if (scrollPosition > lastScrollPosition && scrollPosition + window.innerHeight >= totalHeight && lastToken !== "None" && lastToken !== null) {
                cargarMasImagenes();
            }

            lastScrollPosition = scrollPosition;
        }

        window.addEventListener('scroll', handleScroll);
    </script>
    <script>
        function eliminarImagen(imageUrl) {
            const confirmDelete = confirm("¿Estás seguro de que deseas eliminar esta imagen?");
            if (confirmDelete) {
                fetch('/app/delete_image', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'image_key=' + encodeURIComponent(imageUrl),
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        // Puedes actualizar la interfaz de usuario según sea necesario
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        }
    </script>
</section>
</body>
</html>
